* {
  text-decoration: "none";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  /* user-select: none; */
}

:root {
  --color-cactus-green: #5e826e;
  --color-hunt-club: #2a5043;
  --color-sand: #efd9b4;
  --color-canyon-red: #d16b5a;
  --color-sagebrush-green: #a2b57f;
  --color-adobe-orange: #e37759;
  --color-renwick-rose-beige: #ae8871;
  --color-terra-brun: #5d3828;
  --color-turquoise-blue: #5fd8c4;
  --color-sky-blue: #6bb0e3;
  --color-sunset-purple: #7d4e5f;
  --color-copper-orange: #d78f1b;
  --color-baked-clay: #c2785d;
  --color-burnt-sienna: #7e462c;
  --color-camel-tan: #d3b29c;
  --color-ivory-white: #f3ede3;
}
/* Hide the scrollbar
.container::-webkit-scrollbar {
  display: none;
} */

a:hover {
  color: var(--color-turquoise-blue) !important;
  text-decoration: underline;
}

.header-container {
  background-color: var(--color-hunt-club);
}

.header-brand,
.navbar-item {
  text-decoration: "none";
  color: var(--color-ivory-white);
  font-size: 1.2rem;
}

.main-container,
.resume-container {
  background-color: var(--color-hunt-club);
}

.resume-span,
.aboutme-span,
.portfolio-span,
.contactme-span,
.card-container,
.card-year {
  color: var(--color-turquoise-blue);
}

.portfolio-container,
.contactme-container,
#email,
#name,
#medium,
#message {
  background-color: var(--color-cactus-green);
}

.aboutme-header,
.aboutme-content,
.project-header,
.project-content,
.portfolio-header,
.resume-header,
.resume-subheader,
.card-content,
.contactme-header,
.form-label,
.footer-header,
.footer-icon,
#email,
#name,
#medium,
#message {
  color: var(--color-ivory-white);
}

.resume-column {
  border-left: 2px solid var(--color-turquoise-blue);
}

.resume-card,
#email,
#name,
#medium,
#message {
  border: 2px solid var(--color-turquoise-blue);
}

.form-control {
  background-color: var(--color-ivory-white);
}

#contactme-button {
  background-color: var(--color-turquoise-blue);
  color: var(--color-cactus-green);
  font-weight: 600;
  width: 30%;
}

.footer-icon {
  font-size: 2rem;
}

.card-container {
  position: relative;
}

.card-container::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: -4.9rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-turquoise-blue);
  border-radius: 50%;
}
