* {
  text-decoration: "none";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  user-select: none;
}

:root {
  --color-cactus-green: #5e826e;
  --color-hunt-club: #2a5043;
  --color-sand: #efd9b4;
  --color-canyon-red: #d16b5a;
  --color-sagebrush-green: #a2b57f;
  --color-adobe-orange: #e37759;
  --color-renwick-rose-beige: #ae8871;
  --color-terra-brun: #5d3828;
  --color-turquoise-blue: #5fd8c4;
  --color-sky-blue: #6bb0e3;
  --color-sunset-purple: #7d4e5f;
  --color-copper-orange: #d78f1b;
  --color-baked-clay: #c2785d;
  --color-burnt-sienna: #7e462c;
  --color-camel-tan: #d3b29c;
  --color-ivory-white: #f3ede3;
  --navbar-height: 50px;
}

html {
  background-color: var(--color-hunt-club);
}

a:hover,
.downloadLink,
.github-link {
  color: var(--color-turquoise-blue) !important;
  text-decoration: none;
}

.header-container {
  background-color: var(--color-hunt-club);
  z-index: 10;
}

#navbar-brand {
  text-decoration: "none";
  color: var(--color-ivory-white);
  font-size: 1.5rem;
}

#navbar-item-aboutme,
#navbar-item-portfolio,
#navbar-item-resume,
#navbar-item-contactme {
  text-decoration: "none";
  color: var(--color-ivory-white);
  font-size: 1rem;
}

.navbar,
.main-container,
.resume-container {
  background-color: var(--color-hunt-club);
  scroll-margin-top: var(--navbar-height);
}

.resume-span,
.aboutme-span,
.portfolio-span,
.contactme-span,
.resumecard-container,
.resumecard-year {
  color: var(--color-turquoise-blue);
}

.portfolio-container,
.contactme-container,
#email,
#name,
#medium,
#message {
  background-color: var(--color-cactus-green);
  scroll-margin-top: var(--navbar-height);
}

.aboutme-header,
.aboutme-content,
.project-header,
.project-content,
.portfolio-header,
.resume-header,
.resume-subheader,
.resume-card,
.contactme-header,
.form-label,
.footer-header,
.footer-icon,
#email,
#name,
#medium,
#message {
  color: var(--color-ivory-white);
}

.project {
  position: relative;
}

.github-link {
  position: absolute !important;
}

.resume-column {
  border-left: 2px solid var(--color-turquoise-blue);
}

.resume-card,
.portfolio-card,
#email,
#name,
#medium,
#message {
  border: 2px solid var(--color-turquoise-blue);
}

.form-control {
  background-color: var(--color-ivory-white);
}

#contactme-button {
  background-color: var(--color-turquoise-blue);
  color: var(--color-cactus-green);
  font-weight: 600;
  width: 30%;
}

.footer-icon {
  font-size: 2rem;
}

/* Resume Behavior */

.resume-column {
  position: relative;
  left: 2.4rem;
}

.resume-card {
  position: relative;
  z-index: 1;
}

.resume-card::before {
  position: absolute;
  content: "";
  top: -0.6rem;
  left: -4.2rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-turquoise-blue);
  border-radius: 50%;
}

.resumecard-content {
  position: relative;
  overflow: hidden;
}

.resumecard-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-cactus-green);
  z-index: -1;
  border-radius: 0.9rem;
  transition: 0.5s;
}

.resumecard-content:hover::before {
  width: 100%;
}

/* img control */
.about-img {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

.about-img img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-position: 85% 50%;
  object-fit: cover;
  border: 0.2rem solid var(--color-turquoise-blue);
}

.circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  border-top: 0.2rem solid var(--color-turquoise-blue);
  border-bottom: 0.2rem solid var(--color-turquoise-blue);
  border-left: 0.2rem solid var(--color-hunt-club);
  border-right: 0.2rem solid var(--color-hunt-club);
  animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
