:root {
  --color-sand: #efd9b4;
  --color-canyon-red: #d16b5a;
  --color-sagebrush-green: #a2b57f;
  --color-adobe-orange: #e37759;
  --color-desert-brown: #8c5a2c;
  --color-turquoise-blue: #4cb7a5;
  --color-sky-blue: #6bb0e3;
  --color-sunset-purple: #7d4e5f;
}

.header-container {
  background-color: var(--color-sky-blue);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
