* {
  text-decoration: "none";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  user-select: none;
}

:root {
  --color-sand: #efd9b4;
  --color-canyon-red: #d16b5a;
  --color-sagebrush-green: #a2b57f;
  --color-adobe-orange: #e37759;
  --color-desert-brown: #8c5a2c;
  --color-turquoise-blue: #4cb7a5;
  --color-sky-blue: #6bb0e3;
  --color-sunset-purple: #7d4e5f;
  --color-copper-orange: #d78f1b;
  --color-terracotta-red: #be583b;
  --color-burnt-sienna: #7e462c;
  --color-camel-tan: #d3b29c;
  --color-ivory-white: #f3ede3;
}
/* Hide the scrollbar */
.container::-webkit-scrollbar {
  display: none;
}

.main-container {
  background-color: var(--color-desert-brown);
}

.header-container {
  background-color: var(--color-canyon-red);
}

.header-brand,
.navbar-item {
  text-decoration: "none";
  color: var(--color-sand);
  font-size: 1.2rem;
}

.aboutme-content {
  color: var(--color-sand);
}

.aboutme-header {
  color: var(--color-turquoise-blue);
}

.portfolio-container {
  background-color: var(--color-terracotta-red);
}

.portfolio-header {
  color: var(--color-turquoise-blue);
}

.project-header {
  color: var(--color-sand);
}

.project-content {
  color: var(--color-sand);
}

.resume-header {
  color: var(--color-sand);
}

.resume-span {
  color: var(--color-turquoise-blue);
}

.resume-subheader {
  color: var(--color-sand);
}

.resume-column {
  border-left: 2px solid var(--color-turquoise-blue);
}

.resume-card {
  border: 2px solid var(--color-turquoise-blue);
}

.card-container {
  color: var(--color-turquoise-blue);
}

.card-content {
  color: var(--color-sand);
}

.contactme-container {
  background-color: var(--color-terracotta-red);
}

.contactme-header {
  color: var(--color-turquoise-blue);
}

.form-label {
  color: var(--color-sand);
}

.form-control {
  background-color: var(--color-sand);
}

#contactme-button {
  background-color: var(--color-turquoise-blue);
  color: var(--color-sunset-purple);
  border: 2px solid var(--color-canyon-red);
  font-weight: 600;
  width: 30%;
}

#email,
#name,
#medium,
#message {
  background-color: var(--color-terracotta-red);
}

.footer-header {
  color: var(--color-sand);
}

.footer-icon {
  color: var(--color-sand);
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
